[Unit]
Description="Crankshaft installer"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=flatpak install -y flathub space.crankshaft.Crankshaft && flatpak run space.crankshaft.Crankshaft

[Install]
WantedBy=multi-user.target
